#cloud-config
hostname: ${hostname}
manage_etc_hosts: true

users:
  - name: devops
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users, admin, wheel
    home: /home/devops
    shell: /bin/bash
    ssh_authorized_keys:
      - ${public_key}
    lock_passwd: false

chpasswd:
    list: |
      devops:labpassword123
    expire: False

ssh_pwauth: false
disable_root: true

# --- ADD THESE LINES ---
packages:
  - qemu-guest-agent

runcmd:
  - systemctl enable --now qemu-guest-agent
